<div class="modal fade" id="navvideoModal" tabindex="-1"
     role="dialog" aria-labelledby="navvideoModalLabel" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style="max-width:600px;">
    <div class="modal-content">
      <div class="modal-header p-0 border-0">
        <iframe allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen" width="600" height="400" src="https://www.youtube.com/embed/_pguadFO96M?rel=0">
        </iframe>
        <button type="button" class="btn-close vwrapclose" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
    </div>
  </div>
</div>
