<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- Favicon -->
<link rel="shortcut icon" href="{{webRoot}}/assets/favicon/favicon.ico" type="image/x-icon" />

<!-- Libs CSS -->
<link rel="stylesheet" href="{{webRoot}}/assets/css/libs.bundle.css" />

<!-- Theme CSS -->
<link rel="stylesheet" href="{{webRoot}}/assets/css/theme.bundle.css" />

<!-- Title -->
<title>{{title}}</title>
<meta name="Description" content="{{description}}" />
<meta name="Keywords" content="{{keywords}}" />

<!-- Social meta in partials -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{title}}" />
<meta name="twitter:image" content="https://www.openplus.ca{{twitter-image}}" />
<meta name="twitter:url" content="https://www.openplus.ca{{url}}" />
<meta name="twitter:site" content="@openplusdigital" />
<meta name="twitter:creator" content="@openplusdigital" />
<meta property="og:title" content="{{title}}" />
<meta property="og:description" content="{{description}}" />
<meta property="og:url" content="https://www.openplus.ca{{url}}" />
<meta property="og:locale" content="en_CA" />
<meta property="og:image" content="https://www.openplus.ca{{social-image}}" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="OpenPlus" />
<link rel="canonical" href="https://www.openplus.ca{{url}}" />