<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- Favicon -->
<link rel="shortcut icon" href="{{webRoot}}/assets/favicon/favicon.ico" type="image/x-icon" />

<!-- Libs CSS -->
<link rel="stylesheet" href="{{webRoot}}/assets/css/libs.bundle.css" />

<!-- Theme CSS -->
<link rel="stylesheet" href="{{webRoot}}/assets/css/theme.bundle.css" />

<!-- Title -->
<title>{{title}}</title>
<meta name="Description" content="{{description}}">
<meta name="Keywords" content="{{keywords}}">

<!-- TEST in partial -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{title}}">
<meta name="twitter:image" content="{{webRoot}}{{twitter-image}}"/>
<meta property="og:title" content="{{title}}"/>
<meta property="og:type" content="website"/>
<meta property="og:image" content="{{webRoot}}{{social-image}}"/>
<meta property="og:description" content="{{description}}"/>
<meta property="og:url" content="{{webRoot}}{{url}}"/>
<link rel="canonical" href="{{webRoot}}{{url}}" />