<div class="urgency-bar">
  <small class="urgency-bar-text d-block d-md-none">See our <span class="icon icon-xs text-white">{{> general/shield-protected}}</span> <a href="{{webRoot}}/solutions/gcsovereign.html"><strong>GC Sovereign</strong> Gateway</a> | 100% Canadian <i class="fe fe-thumbs-up"></i></small>
  <small class="urgency-bar-text d-none d-md-block">See our vetted <span class="icon icon-xs text-white">{{> general/shield-protected}}</span> <a href="{{webRoot}}/solutions/gcsovereign.html"><strong>GC Sovereign</strong> Digital Gateway</a> | Proud 100% Canadian Company <i class="fe fe-thumbs-up"></i></small>
</div>

<nav class="navbar sticky-top navbar-expand-lg {{classList}}">
  <div class="{{container}}">

    <!-- Brand -->
    <a class="navbar-brand" href="{{webRoot}}/">
      <img src="{{webRoot}}/assets/img/openplus-logo.svg" class="navbar-brand-img" alt="openplus" style="max-height: 80px;">
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fe fe-x"></i>
      </button>

      <!-- Navigation -->
      <ul class="navbar-nav ms-auto">  
        <li class="nav-item">
          <a class="nav-link" href="{{webRoot}}/solutions/gcsovereign.html">
            GC Sovereign
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{webRoot}}/solutions/">
            Solutions
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{webRoot}}/services/">
            Services
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{webRoot}}/projects/">
            Our Work
          </a>
        </li>      
      </ul>

      <!-- Button -->
      <a class="navbar-btn btn btn-sm btn-{{button}} lift ms-auto" href="{{webRoot}}/contact/">
        Contact Us
      </a>

      
    </div>

  </div>
</nav>
